figure img
{
	width:400px;
	height:200px
}

img
{
	width:200px;
	height:200px
}
.logoArea{
  background: gray;
  display: flex;
  height: 50px;
  
}
.logo{
  border-radius: 3px;
  height: 40px;
  margin-left:50px;
  margin-top:3px;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 20px;
}

nav {
  display: inline;
}

.menu {
  display: inline;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}

.menu li {
  list-style-type: none;
  padding-right: 15px;
  font-family: sans-serif;
}

.meio{
  background-color: #1C1C1C;
  color: white;
  padding: 40px;
  text-transform:uppercase;
}